block content
    .wrapper
        seaction.section.hero
            .hero__bg
                img(src="#", alt="#").hero__bg-img

            .hero_container
                img.hero-title-pic(src="#", alt="#")

                .user
                    .user__pic-container
                        img.user__pic(src="#", alt="#")
                    .user__name Андрей Махнев
                    .user__desc Личный сайт разработчика

        section.section.about
            .about__col.about__col_left
                svg.about__triangle
                .section_title
                    |Обо мне
                .about
                    .about__pic
                    .block-title
                    .block-text

            .about__col.about__col_right
                .skills
                    .block-title
                    .skills__text
                        p
                        p
                        p
                    ul.skills-group
                        li.skills-group__item
                            .skills-group__title Frontend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                        .skill__title

        section.section.map

        section.section.footer
            p.about__dev
            .about__menu
                .about__menu-projects
                .about__menu-aboutme
                .about__menu-blog
                .about__menu-auth
            .about__social
                .about__social-icon_vk
                    img.about__social-icon(src="#", alt="#")
                .about__social-icon_gh
                    img.about__social-icon(src="#", alt="#")
                .about__social-icon_in
                    img.about__social-icon(src="#", alt="#")
            p.info