.wrapper wrapper__auth
    .auth
        .auth__top
            p Авторизуйтесь
        input.log
        input.pass
        .checked__man
        .checked__auth-robot
        .auth__bottom
            a.link__index(src="#", alt="#")
            a.link__enter(src="#", alt="#")
    .auth__footer
        .auth__footer-copyright