.wrapper wrapper__blog
    section.section.blog
        .blog__bg
            img(src="#", alt="#").blog__bg-img

        .blog_container
            img.blog-title-pic(src="#", alt="#")

            .user__blog
                .blog__pic-container
                    img.blog__pic(src="#", alt="#")
                h1.h1__blog БЛОГ
                p Статья которая я написал

    section.section.blog__text
        .blog__text-triangle
            .blog__col.blog__col_left
                svg.blog__triangle_left
            .blog__col.blog__col_right
                svg.blog__triangle_right
        .blog__content
            .blog__content-nav
                ul.blog__nav_menu
                    li.blog__nav-item
                        p Самое важное в верстке
                    li.blog__nav-item
                        p Приемы в верстке без которых не обходится ни один сайт
                    li.blog__nav-item
                        p Самый необходимый набор gulp плагинов
                    li.blog__nav-item
                        p Почему я выбрал Pug
            .blog__content-text
                h3.blog__text-h3 Самое важное в SASS
                p lorem
                p lorem
                p lorem
                img.blog__text-img(src="#")
                hr.blog__line-grey
                h3.blog__text-h3 Самое важное в SASS
                p lorem
                p lorem
                p lorem

    section.section.footer
        p.about__dev
        .about__menu
            .about__menu-projects
            .about__menu-aboutme
            .about__menu-blog
            .about__menu-auth
        .about__social
            .about__social-icon_vk
                img.about__social-icon(src="#", alt="#")
            .about__social-icon_gh
                img.about__social-icon(src="#", alt="#")
            .about__social-icon_in
                img.about__social-icon(src="#", alt="#")
        p.info