.wrapper wrapper__welcome
    .welcome__auth
        a.welcome__auth-top_right(href="#") Авторизоваться
        .welcome
            .welcome__img
                img.welcome__ava(src="#", alt="#")
                .welcome__name
                    p Махнев Андрей
                    p Личный сайт веб-разработчика
            ul.welcome__social
                li.welcome__social-vk
                    a.icon__vk(href="#")
                li.welcome__social-gh
                    a.icon__gh(href="#")
                li.welcome__social-in
                    a.icon__in(href="#")
            .welcome__bottom
                a.link__myproject(href="#") Мои работы
                a.link__aboutme(href="#") Обо мне
                a.link__myblog(href="#") Блог
        .welcome__footer
            .welcome__footer-copyright