.wrapper wrapper__works
    section.section.works
        .works__bg
            img(src="#", alt="#").works__bg-img

        .works_container
            img.works-title-pic(src="#", alt="#")

            .user
                .user__pic-container
                    img.user__pic(src="#", alt="#")
                .user__name Андрей Махнев
                .user__desc Личный сайт разработчика

    section.section.works
        .works__col.works__col_project
            p
        .works__col.works__col_left
            svg.works__triangle_left
        .works__col.works__col_right
            svg.works__triangle_right

    section.section.portfolio
        .portfolio__slider_one
            .portfolio__slider_one-left
                .portfolio__slider_one_project
                    a.portfolio__img(href="#")
            .portfolio__slider_one-right
                .portfolio__slider_one_text
                    h3.portfolio__site САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
                    p HTML, CSS, JAVASCRIPT
                    a.portfolio__site__see(href="#") Посмотреть сайт
        .portfolio__slider_two
            .portfolio__slider_two-left
                .portfolio__slider_two_text
                    h3.portfolio__slider_two_site САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
                    p HTML, CSS, JAVASCRIPT
                    a.portfolio__slider_two_site-see(href="#c") Посмотреть сайт
        .portfolio__slider_two-right
            .portfolio__slider_two_project
                a.portfolio__slider_two_img(href="#")
    section.section.what__about
        .what__about
            p
        ul.about__speak
            li.about__speak-one
                img.ava__one(src="#", alt="#")
                p Какой то текст
                p Основатель школы
            li.about__speak-two
                img.ava__two(src="#", alt="#")
                p Какой то текст
                p Преподователь
        form.what__about-form
            p Связаться со мной
            a.what__about-name(href="#") Имя
            a.what__about-email(href="#") Email
            a.what__about-text(href="#") Ваше сообщение
            button.what__about-button_left Отправить
            button.what__about-button_right Очистить

    section.section.footer
        p.about__dev
        .about__menu
            .about__menu-projects
            .about__menu-aboutme
            .about__menu-blog
            .about__menu-auth
        .about__social
            .about__social-icon_vk
                img.about__social-icon(src="#", alt="#")
            .about__social-icon_gh
                img.about__social-icon(src="#", alt="#")
            .about__social-icon_in
                img.about__social-icon(src="#", alt="#")
        p.info